@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

:root {
    --font1: verdana, geneva, tahoma, san-serif;
    --font2: 'Passion One', cusive;
    --font3: 'Kalam', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--font1);
}
header {
    background-color: black;
    color: white;
    text-align: center;

}
header > h1 {
    padding-top: 50px;
    Font-variant: small-caps; 
    font-family: var(--font2);
    font-size: 10vh;
}
header {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
section {
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vh;
}

section.normal {
    background-color: white;
    color: black;

}
section.imagem {
    background-color: rgb(34, 34, 34);
    color: white;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.719);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.322);
    background-attachment: fixed;
    

}
section.imagem >p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 7%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.363);
    border: 1px solid rgb(122, 122, 122);
    
}
section#img01 {
    background-image: url('../desafio12/imagens/background001.jpg');
    background-size: cover;
    background-position: right center;
}
section#img02 {
    background-image: url('../desafio12/imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}